#cage {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 50px;
}
#draggable_parent {
    background-color: transparent !important;
}
#draggable_child_cta, #draggable_child_close, #draggable_child_submit, {
    background: transparent;
}
#inpat {
    width: 238px;
    height: 70px;
    background-color: transparent;
    position: absolute;
}
#feedbackInpat {
    width: 138px;
    height: 20px;
    background-color: transparent;
    position: absolute;
}