#cage {
    display: inline-block;
    width: auto;
    height: auto;
    border: dashed 2px;
    margin-top: 5x;
    padding: 10x;
}

#draggable_parent {
        background-color: lightgreen !important;
}

#draggable_child_cta,
#draggable_child_close,{
    background: transparent;
}

#inpat {
    width: 238px;
    height: 38px;
    background-color: transparent;
}