#cage1 {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 50px;
}
#knowledgeText0{
    width: 380px;
    height: 400px;
}
#knowledgeText1{
    width: 380px;
    height: 400px;
}
#container1{
    float: right;
    width: 43%;
    height: 100%;
    margin: 20px;
    text-align: initial;
}
/* .jqte_editor{
    resize: none;
    margin-left:auto;
    margin-right:20;
} */