#cage {
    display: inline-block;
    width: auto;
    height: auto;
    border: dotted 1px;
    margin-top: 30px;
}

#draggable_parent {
    width: auto;
    height: auto;
    background: transparent;
}

#draggable_child {
    width: 238px;
    height: 38px;
    background: #BABABA;
}

#inpat {
    width: 238px;
    height: 38px;
    background-color: transparent;
}