.veGenie_input_field {
    display: block;
    width: 300px;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 10px 50px 45px;
    overflow: auto;
    text-align:left;
}
.veGenie_textarea_result {
    resize: none;
    margin: 10px;
    width:550px;
    height:320px;
    padding: 5px;
}
div.genie-left-block label {
    margin: 5px 25px;
    width: 300px;
    text-align: left;
}
div.genie-right-block label {
    margin: 5px 0px;
    width: 550px;
}

.inputver_fail{
    background-color: rgba(232,14,14,0.15)
}

#vegenie_generate_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 1px 0px #ffffff;
    margin-bottom: 0px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 2px;
}
#vegenie_generate_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
#vegenie_generate_button:active {
    position:relative;
    top:1px;
}

#vegenie_erase_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 1px 0px #ffffff;
    margin-bottom: 0px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
#vegenie_erase_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

#vegenie_erase_button:active {
    position:relative;
    top:1px;
}

#vewelcomelogo:hover {
    -webkit-transform:rotate(360deg) scale(1.3) translateZ(0);
    -moz-transform:rotate(360deg) scale(1.3) translateZ(0);
    -o-transform:rotate(360deg) scale(1.3) translateZ(0);
    transform:rotate(360deg) scale(1.3) translateZ(0)
}
#vewelcomelogo {
    -webkit-animation-name:ve-bounceloop;
    animation-name:ve-bounceloop;
    -webkit-transform-origin:center bottom;
    transform-origin:center bottom;
    -webkit-animation-duration:6s;
    animation-duration:6s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
@-webkit-keyframes ve-bounceloop {
    0%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
        
    }
    10% {
        -webkit-transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform:translate3d(0, -130px, -50px);
        transform:translate3d(0, -130px, -50px);
        -webkit-transform: scale(0.9);
        tansform: scale(0.9)
        
    }
    50% {
        -webkit-transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform:translate3d(0, -100px, -25px);
        transform:translate3d(0, -100px, -25px)
        -webkit-transform: scale(1.3);
        tansform: scale(1.3)
    }
    70%, 90% {
        -webkit-transform:translate3d(0, -50px, -10px);
        transform:translate3d(0, -50px, -10px)
        -webkit-transform: scale(0.9);
        tansform: scale(0.9)
            
    }
}
@keyframes ve-bounceloop {
    0%, 100%, 40%, 60%, 80% {
        -webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
    30% {
        -webkit-transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform:translate3d(0, -30px, 0);
        transform:translate3d(0, -30px, 0)
    }
    50% {
        -webkit-transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function:cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform:translate3d(0, -10px, 0);
        transform:translate3d(0, -10px, 0)
    }
    70%, 90% {
        -webkit-transform:translate3d(0, -5px, 0);
        transform:translate3d(0, -5px, 0)
    }
}