#section0, 
#section1, 
#section2,
#section3,
#section4{
	padding-left:100px !important;
}

nav {
	position: relative;
}

nav > div > img{
	position: absolute;
	right: 3px;
	top: 48%;
}

nav > ul {
	position: absolute;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -226px;

	opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

nav > ul > li{
	margin: 55px 0px;
}
/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}
.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}

/* Fixed header and footer.
* --------------------------------------- */
#header{
	position:fixed;
	width: 30px;
	display:block;
	height: 100%;
	z-index:9;
	text-align:left;
	color: #f2f2f9;
	-moz-box-shadow: 14px -1px 75px #1A1A1A;
	-webkit-box-shadow: 14px -1px 75px #1A1A1A;
	box-shadow: 14px -1px 75px #1A1A1A;

}

#header{
	left:0px;
	transition:width 0.5s; /* Animation time */
		-webkit-transition:width 0.5s; /* For Safari */
}

#header:hover {
width: 130px; /* This is the height on hover */
}

nav{
	height: 100%;

	background: -moz-linear-gradient(left, rgba(14,14,14,1) 0%, rgba(89,89,89,1) 20%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, rgba(14,14,14,1) 0%,rgba(89,89,89,1) 20%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right, rgba(14,14,14,1) 0%,rgba(89,89,89,1) 20%); /* W3C */

	-moz-box-shadow:inset -5px 0px 10px #8A8A8A;
	-webkit-box-shadow:inset -5px 0px 10px #8A8A8A;
	box-shadow:inset -5px 0px 10px #8A8A8A;
}

#section_separator{
	width:100%;
	height:1000px;
	background-image: url(../img/separator_bgimage.png);
	background-repeat: repeat;

	-webkit-box-shadow: inset 0px 0px 100px 100px #404040;
	-moz-box-shadow: inset 0px 0px 100px 100px #404040;
	box-shadow: inset 0px 0px 100px 100px #404040;

	z-index: 100;
}

